flows (1).json
[{"id":"99ea3a55.702a48","type":"tab","label":"Principal","disabled":false,"info":""},{"id":"1693fdf7.003162","type":"tab","label":"Sonda","disabled":false,"info":""},{"id":"5e6b020d.a751bc","type":"tab","label":"Grua","disabled":false,"info":""},{"id":"93b86fde.a51b3","type":"tab","label":"DB","disabled":false,"info":""},{"id":"a7caefe1.f48eb","type":"mqtt-broker","z":"","name":"","broker":"192.168.0.5","port":"1883","clientid":"","usetls":false,"compatmode":true,"keepalive":"60","cleansession":true,"birthTopic":"","birthQos":"0","birthPayload":"","closeTopic":"","closeQos":"0","closePayload":"","willTopic":"","willQos":"0","willPayload":""},{"id":"2ea9c3e8.1cac8c","type":"ui_base","theme":{"name":"theme-light","lightTheme":{"default":"#0094CE","baseColor":"#710620","baseFont":"-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif","edited":true,"reset":false},"darkTheme":{"default":"#097479","baseColor":"#097479","baseFont":"-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif","edited":true,"reset":false},"customTheme":{"name":"Untitled Theme 1","default":"#4B7930","baseColor":"#4B7930","baseFont":"-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif"},"themeState":{"base-color":{"default":"#0094CE","value":"#710620","edited":true},"page-titlebar-backgroundColor":{"value":"#710620","edited":false},"page-backgroundColor":{"value":"#fafafa","edited":false},"page-sidebar-backgroundColor":{"value":"#000000","edited":false},"group-textColor":{"value":"#ba0a35","edited":false},"group-borderColor":{"value":"#ffffff","edited":false},"group-backgroundColor":{"value":"#ffffff","edited":false},"widget-textColor":{"value":"#111111","edited":false},"widget-backgroundColor":{"value":"#710620","edited":false},"widget-borderColor":{"value":"#ffffff","edited":false},"base-font":{"value":"-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif"}},"angularTheme":{"primary":"indigo","accents":"blue","warn":"red","background":"grey"}},"site":{"name":"SONDA_LSD","hideToolbar":"false","allowSwipe":"true","lockMenu":"true","allowTempTheme":"false","dateFormat":"DD/MM/YYYY","sizes":{"sx":48,"sy":48,"gx":6,"gy":6,"cx":6,"cy":6,"px":0,"py":0}}},{"id":"ad378097.bfa4f","type":"ui_tab","z":"","name":"Sensores","icon":"dashboard","order":1,"disabled":false,"hidden":false},{"id":"e22c68d6.f7ba68","type":"ui_group","z":"","name":"Temperatura","tab":"ad378097.bfa4f","order":2,"disp":true,"width":"6","collapse":false},{"id":"b6ae52fc.f0057","type":"ui_group","z":"","name":"OPR","tab":"ad378097.bfa4f","order":6,"disp":true,"width":"6","collapse":false},{"id":"ac61c7b0.2b43b8","type":"ui_group","z":"","name":"Oxígeno Disuelto","tab":"ad378097.bfa4f","order":5,"disp":true,"width":"6","collapse":false},{"id":"d63f198f.1dd158","type":"ui_group","z":"","name":"pH","tab":"ad378097.bfa4f","order":3,"disp":true,"width":"6","collapse":false},{"id":"9d68b818.5c2498","type":"ui_group","z":"","name":"Conductividad Eléctrica","tab":"ad378097.bfa4f","order":4,"disp":true,"width":"6","collapse":false},{"id":"670de6ab.da9e58","type":"ui_group","z":"","name":"Total de Sólidos Disueltos","tab":"ad378097.bfa4f","order":7,"disp":true,"width":"6","collapse":false},{"id":"b4148f82.86e35","type":"ui_group","z":"","name":"Salinidad","tab":"ad378097.bfa4f","order":8,"disp":true,"width":"6","collapse":false},{"id":"e6d78d36.84f9a","type":"ui_tab","z":"","name":"Panel","icon":"dashboard","order":2,"disabled":false,"hidden":false},{"id":"bac6e884.cd8098","type":"ui_group","z":"","name":"ph","tab":"e6d78d36.84f9a","order":1,"disp":true,"width":"6","collapse":false},{"id":"93def6ff.f4c3a8","type":"ui_group","z":"","name":"temp","tab":"e6d78d36.84f9a","order":2,"disp":true,"width":"6","collapse":true},{"id":"d6aeca19.004aa8","type":"ui_group","z":"","name":"DO","tab":"e6d78d36.84f9a","order":3,"disp":true,"width":"6","collapse":false},{"id":"c6f2bb89.55c4a8","type":"ui_group","z":"","name":"opr","tab":"e6d78d36.84f9a","order":4,"disp":true,"width":"6","collapse":false},{"id":"5ed91c95.fbf684","type":"ui_group","z":"","name":"ce","tab":"e6d78d36.84f9a","order":5,"disp":true,"width":"6","collapse":false},{"id":"6c23515e.8bd68","type":"ui_group","z":"","name":"tds","tab":"e6d78d36.84f9a","order":6,"disp":true,"width":"6","collapse":false},{"id":"12833d5c.876543","type":"ui_group","z":"","name":"s","tab":"e6d78d36.84f9a","order":7,"disp":true,"width":"6","collapse":false},{"id":"2f7642bf.59438e","type":"ui_group","z":"","name":"","tab":"bef5f916.51fcd8","order":1,"disp":false,"width":"6","collapse":false},{"id":"bef5f916.51fcd8","type":"ui_tab","z":"","name":"Grua","icon":"dashboard","order":3,"disabled":false,"hidden":false},{"id":"d3cc9bf4.421038","type":"ui_tab","z":"","name":"Configuracion","icon":"dashboard","order":4,"disabled":false,"hidden":false},{"id":"b0b2ab6e.bfa7b8","type":"ui_tab","z":"","name":"Base de Datos","icon":"dashboard","order":5,"disabled":false,"hidden":false},{"id":"e97f17c.cd7d6e8","type":"ui_group","z":"","name":"Date","tab":"ad378097.bfa4f","order":1,"disp":false,"width":6,"collapse":false},{"id":"91d2a644.867f28","type":"sqlitedb","z":"","db":"/tmp/sqlite","mode":"RWC"},{"id":"c584ab42.7bcb08","type":"mqtt in","z":"1693fdf7.003162","name":"","topic":"sonda/raspberry/ph","qos":"2","datatype":"auto","broker":"a7caefe1.f48eb","x":130,"y":60,"wires":[["aeafa353.b5d84","9be8ba8e.78db88"]]},{"id":"aeafa353.b5d84","type":"ui_chart","z":"1693fdf7.003162","name":"sondaPh","group":"d63f198f.1dd158","order":2,"width":6,"height":4,"label":"","chartType":"line","legend":"false","xformat":"HH:mm:ss","interpolate":"linear","nodata":"","dot":true,"ymin":"0","ymax":"14","removeOlder":1,"removeOlderPoints":"","removeOlderUnit":"60","cutout":0,"useOneColor":false,"useUTC":false,"colors":["#1f77b4","#aec7e8","#ff7f0e","#2ca02c","#98df8a","#d62728","#ff9896","#9467bd","#c5b0d5"],"useOldStyle":false,"outputs":1,"x":340,"y":100,"wires":[[]]},{"id":"f2580e87.05a8","type":"mqtt in","z":"1693fdf7.003162","name":"","topic":"sonda/raspberry/temp","qos":"2","datatype":"auto","broker":"a7caefe1.f48eb","x":120,"y":180,"wires":[["a1c6e60e.8d4898","c1418e5a.1666c"]]},{"id":"a1c6e60e.8d4898","type":"ui_chart","z":"1693fdf7.003162","name":"sondaTemp","group":"e22c68d6.f7ba68","order":2,"width":6,"height":4,"label":"","chartType":"line","legend":"false","xformat":"HH:mm:ss","interpolate":"linear","nodata":"","dot":true,"ymin":"0","ymax":"40","removeOlder":1,"removeOlderPoints":"","removeOlderUnit":"60","cutout":0,"useOneColor":false,"useUTC":false,"colors":["#1f77b4","#aec7e8","#ff7f0e","#2ca02c","#98df8a","#d62728","#ff9896","#9467bd","#c5b0d5"],"useOldStyle":false,"outputs":1,"x":350,"y":220,"wires":[[]]},{"id":"63cac59c.b0481c","type":"mqtt in","z":"1693fdf7.003162","name":"","topic":"sonda/raspberry/do","qos":"2","datatype":"auto","broker":"a7caefe1.f48eb","x":130,"y":300,"wires":[["4d7eb340.77b2fc","a6185e68.da946"]]},{"id":"920aad15.4729b","type":"mqtt in","z":"1693fdf7.003162","name":"","topic":"sonda/raspberry/opr","qos":"2","datatype":"auto","broker":"a7caefe1.f48eb","x":590,"y":180,"wires":[["2ee950c5.f7508","a447640f.803408"]]},{"id":"605e6985.de0fc8","type":"mqtt in","z":"1693fdf7.003162","name":"","topic":"sonda/raspberry/ce","qos":"2","datatype":"auto","broker":"a7caefe1.f48eb","x":590,"y":300,"wires":[["4c8e9079.303df","a1b1bf59.b1424"]]},{"id":"499bfd4a.dab5e4","type":"mqtt in","z":"1693fdf7.003162","name":"","topic":"sonda/raspberry/tds","qos":"2","datatype":"auto","broker":"a7caefe1.f48eb","x":130,"y":460,"wires":[["59f48077.ccef6","e0d4a14.3b4466"]]},{"id":"e0556f93.4189e","type":"mqtt in","z":"1693fdf7.003162","name":"","topic":"sonda/raspberry/s","qos":"2","datatype":"auto","broker":"a7caefe1.f48eb","x":590,"y":460,"wires":[["3958dc9d.511684","d2effcfa.d3ccd"]]},{"id":"4d7eb340.77b2fc","type":"ui_chart","z":"1693fdf7.003162","name":"sondaDO","group":"ac61c7b0.2b43b8","order":2,"width":6,"height":4,"label":"","chartType":"line","legend":"false","xformat":"HH:mm:ss","interpolate":"linear","nodata":"","dot":false,"ymin":"","ymax":"","removeOlder":1,"removeOlderPoints":"","removeOlderUnit":"60","cutout":0,"useOneColor":false,"useUTC":false,"colors":["#1f77b4","#aec7e8","#ff7f0e","#2ca02c","#98df8a","#d62728","#ff9896","#9467bd","#c5b0d5"],"useOldStyle":false,"outputs":1,"x":340,"y":340,"wires":[[]]},{"id":"4c8e9079.303df","type":"ui_chart","z":"1693fdf7.003162","name":"sondaCE","group":"9d68b818.5c2498","order":2,"width":6,"height":4,"label":"","chartType":"line","legend":"false","xformat":"HH:mm:ss","interpolate":"linear","nodata":"","dot":false,"ymin":"","ymax":"","removeOlder":1,"removeOlderPoints":"","removeOlderUnit":"60","cutout":0,"useOneColor":false,"useUTC":false,"colors":["#1f77b4","#aec7e8","#ff7f0e","#2ca02c","#98df8a","#d62728","#ff9896","#9467bd","#c5b0d5"],"useOldStyle":false,"outputs":1,"x":780,"y":340,"wires":[[]]},{"id":"2ee950c5.f7508","type":"ui_chart","z":"1693fdf7.003162","name":"sondaOPR","group":"b6ae52fc.f0057","order":2,"width":6,"height":4,"label":"","chartType":"line","legend":"false","xformat":"HH:mm:ss","interpolate":"linear","nodata":"","dot":false,"ymin":"","ymax":"","removeOlder":1,"removeOlderPoints":"","removeOlderUnit":"3600","cutout":0,"useOneColor":false,"useUTC":false,"colors":["#1f77b4","#aec7e8","#ff7f0e","#2ca02c","#98df8a","#d62728","#ff9896","#9467bd","#c5b0d5"],"useOldStyle":false,"outputs":1,"x":790,"y":220,"wires":[[]]},{"id":"59f48077.ccef6","type":"ui_chart","z":"1693fdf7.003162","name":"sondaTDS","group":"670de6ab.da9e58","order":2,"width":6,"height":4,"label":"","chartType":"line","legend":"false","xformat":"HH:mm:ss","interpolate":"linear","nodata":"","dot":false,"ymin":"","ymax":"","removeOlder":1,"removeOlderPoints":"","removeOlderUnit":"60","cutout":0,"useOneColor":false,"useUTC":false,"colors":["#1f77b4","#aec7e8","#ff7f0e","#2ca02c","#98df8a","#d62728","#ff9896","#9467bd","#c5b0d5"],"useOldStyle":false,"outputs":1,"x":350,"y":500,"wires":[[]]},{"id":"3958dc9d.511684","type":"ui_chart","z":"1693fdf7.003162","name":"sondaS","group":"b4148f82.86e35","order":2,"width":6,"height":4,"label":"","chartType":"line","legend":"false","xformat":"HH:mm:ss","interpolate":"linear","nodata":"","dot":false,"ymin":"0","ymax":"42","removeOlder":1,"removeOlderPoints":"","removeOlderUnit":"60","cutout":0,"useOneColor":false,"useUTC":false,"colors":["#1f77b4","#aec7e8","#ff7f0e","#2ca02c","#98df8a","#d62728","#ff9896","#9467bd","#c5b0d5"],"useOldStyle":false,"outputs":1,"x":800,"y":500,"wires":[[]]},{"id":"a6185e68.da946","type":"ui_text","z":"1693fdf7.003162","group":"ac61c7b0.2b43b8","order":1,"width":6,"height":1,"name":"","label":"[mg/L ]","format":"{{msg.payload}}","layout":"col-center","x":330,"y":260,"wires":[]},{"id":"a1b1bf59.b1424","type":"ui_text","z":"1693fdf7.003162","group":"9d68b818.5c2498","order":1,"width":6,"height":1,"name":"","label":"[uS/cm]","format":"{{msg.payload}}","layout":"col-center","x":780,"y":260,"wires":[]},{"id":"e0d4a14.3b4466","type":"ui_text","z":"1693fdf7.003162","group":"670de6ab.da9e58","order":1,"width":6,"height":1,"name":"","label":"[ppm ]","format":"{{msg.payload}}","layout":"col-center","x":330,"y":400,"wires":[]},{"id":"d2effcfa.d3ccd","type":"ui_text","z":"1693fdf7.003162","group":"b4148f82.86e35","order":1,"width":6,"height":1,"name":"","label":"[ppt]","format":"{{msg.payload}}","layout":"col-center","x":790,"y":420,"wires":[]},{"id":"9be8ba8e.78db88","type":"ui_text","z":"1693fdf7.003162","group":"d63f198f.1dd158","order":1,"width":6,"height":1,"name":"","label":"[pH]","format":"{{msg.payload}}","layout":"col-center","x":330,"y":20,"wires":[]},{"id":"c1418e5a.1666c","type":"ui_text","z":"1693fdf7.003162","group":"e22c68d6.f7ba68","order":1,"width":6,"height":1,"name":"","label":"[°C]","format":"{{msg.payload}}","layout":"col-center","x":330,"y":140,"wires":[]},{"id":"a447640f.803408","type":"ui_text","z":"1693fdf7.003162","group":"b6ae52fc.f0057","order":1,"width":6,"height":1,"name":"","label":"[mV]","format":"{{msg.payload}}","layout":"col-center","x":770,"y":140,"wires":[]},{"id":"143ad09a.8019df","type":"ui_date_picker","z":"1693fdf7.003162","name":"","label":"Fecha Actual","group":"e97f17c.cd7d6e8","order":1,"width":6,"height":5,"passthru":true,"topic":"","x":650,"y":40,"wires":[[]]},{"id":"eeffed70.b1966","type":"ui_button","z":"5e6b020d.a751bc","name":"","group":"2f7642bf.59438e","order":1,"width":0,"height":0,"passthru":false,"label":"Bajar","tooltip":"","color":"","bgcolor":"","icon":"","payload":"bajar","payloadType":"str","topic":"sonda/arduino/bajar","x":350,"y":80,"wires":[["a34702a6.d1bd7"]]},{"id":"23816b9d.5f2a04","type":"ui_button","z":"5e6b020d.a751bc","name":"","group":"2f7642bf.59438e","order":0,"width":0,"height":0,"passthru":false,"label":"Subir","tooltip":"","color":"","bgcolor":"","icon":"","payload":"subir","payloadType":"str","topic":"sonda/arduino/subir","x":350,"y":160,"wires":[["bad40991.accf18"]]},{"id":"a34702a6.d1bd7","type":"mqtt out","z":"5e6b020d.a751bc","name":"","topic":"sonda/arduino/bajar","qos":"","retain":"","broker":"a7caefe1.f48eb","x":660,"y":80,"wires":[]},{"id":"bad40991.accf18","type":"mqtt out","z":"5e6b020d.a751bc","name":"","topic":"sonda/arduino/subir","qos":"","retain":"","broker":"a7caefe1.f48eb","x":650,"y":160,"wires":[]},{"id":"6baf7ad0.bc7864","type":"inject","z":"5e6b020d.a751bc","name":"","topic":"","payload":"","payloadType":"date","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":160,"y":80,"wires":[["eeffed70.b1966"]]},{"id":"81139064.692e3","type":"inject","z":"5e6b020d.a751bc","name":"","topic":"","payload":"","payloadType":"date","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":160,"y":160,"wires":[["23816b9d.5f2a04"]]}]